
/*  1. Selectors and Basic Properties */

/* Universal Selector */

* {
    padding: 0;
    margin: 0;
}


/* Element Selectors */

body {
    background-color: rgb(241, 234, 234);
    color: #333;
}

 /* Class Selector */

.hero {
    padding: 100px;
    
}

.here__title {
    color: black;
}

.hero__description {
    color: #57dacb;
}
/* ID Selector */

#hero__highlight {
    color: black;
}

/*  2. Fonts and Typography */


.feature {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    padding: 100px;
}

.feature__item {
    padding: 30px 0;
}

.feature__title {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #ff0000;
    margin-bottom: 10px;
}

.feature__title--selected {
    text-decoration: underline;
}

.feature__description {
    text-align: right;
    /* letter-spacing: 0.5rem; */
    /* word-spacing: 3rem; */
    /* line-height: 2.4rem; */
}

/* Tooltip - Title*/

.tooltip {
    position: relative;
    cursor: pointer;

}

.tooltip .tooltip-text {
    visibility: hidden;
    background-origin: black;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 0.9rem;
    position: absolute;
    padding: 0px 15px 0px;
    top: -15px;
    left: 0;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}