
/*  1. Selectors and Basic Properties */

/* Universal Selector */

* {
    padding: 0;
    margin: 0;
}


/* Element Selectors */

body {
    background-color: rgb(241, 234, 234);
    color: #333;
}

 /* Class Selector */

.hero {
    padding: 100px;
}

.here__title {
    color: black;
}

.hero__description {
    color: #57dacb;
}
/* ID Selector */

#hero__highlight {
    color: black;
}